<% if can? :show, Spree::Order %>
  <% if @order && @order.completed_at? %>
      <li <%== ' class="active"' if (defined? current and current == 'Documents') %>>
        <%=
          link_to_with_icon 'file-text',
            Spree.t(:documents, scope: :print_invoice),
            spree.admin_order_bookkeeping_documents_path(@order)
        %>
      </li>
  <% end %>
<% end %>
